ahkab==0.18
altgraph==0.16.1
astroid==2.4.2
auto-py-to-exe==2.6.6
bottle==0.12.18
bottle-websocket==0.2.9
cffi==1.13.2
click==7.1.2
colorama==0.4.3
cs50==5.0.4
cycler==0.10.0
Eel==0.11.0
Equation==1.2.1
Flask==1.1.2
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mpmath==1.1.0
nltk==3.5
numpy==1.18.1
pefile==2019.4.18
ply==3.11
pycparser==2.19
PyInstaller==3.6
pylint==2.5.3
pyparsing==2.4.6
python-dateutil==2.8.1
python-git==2018.2.1
pywin32-ctypes==0.2.0
PyYAML==5.2
regex==2020.6.8
scipy==1.4.1
Send2Trash==1.5.0
six==1.13.0
SQLAlchemy==1.3.18
sqlparse==0.3.1
sympy==1.5
tabulate==0.8.6
termcolor==1.1.0
toml==0.10.1
tqdm==4.46.1
typed-ast==1.4.1
unicode==2.7
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
